@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-navy: #12142b;
  --color-orange: #ca4500;
  --color-blue: #7587a0;
  --color-yellow: #c8990a;
  --color-white: #e4e8dd;
}

:root {
  --white: #e4e8dd;
  --navy: #212651;
  --orange: #ca4500;
  --blue: #7587a0;
  --yellow: #c8990a;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --white: #0a0a0a;
    --navy: #e4e8dd; */
  }
}

body {
  background: var(--white);
  color: var(--navy);
  font-family: var(
    --font-racing-sans-one,
    "Racing Sans One",
    sans-serif
  ) !important;
  font-weight: 700;
}

.font-display {
  font-family: var(
    --font-racing-sans-one,
    "Racing Sans One",
    sans-serif
  ) !important;
}

.font-body {
  font-family: var(--font-overpass, "Overpass", sans-serif) !important;
}

/* generic */

h1,
h2,
h3,
h4,
h5 {
  font-family: var(
    --font-racing-sans-one,
    "Racing Sans One",
    sans-serif
  ) !important;
}

.btn-ghost {
  /* border: 8px double var(--blue);
  padding: 24px; */
}
.btn {
  color: var(--navy);
}

/* navigation */
.navbar {
  border-bottom: 6px double var(--blue) !important;
}

.hamburger {
  color: var(--navy);

  & path {
    stroke: var(--navy);
  }
}
