@import "tailwindcss";
@plugin "daisyui";

:root {
  --white: #e4e8dd;
  --navy: #12142b;
  --orange: #ca4500;
  --blue: 7587a0;
  --yellow: #c8990a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #0a0a0a;
    --navy: #e4e8dd;
  }
}

body {
  background: var(--white);
  color: var(--navy);
  font-family: var(
    --font-racing-sans-one,
    "Racing Sans One",
    sans-serif
  ) !important;
}
.btn-ghost {
  border: 8px double var(--);
  padding: 24px;
}

.font-display {
  font-family: var(
    --font-racing-sans-one,
    "Racing Sans One",
    sans-serif
  ) !important;
}

.font-body {
  color: pink !important;
  font-family: var(--font-overpass, "Overpass", sans-serif) !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(
    --font-racing-sans-one,
    "Racing Sans One",
    sans-serif
  ) !important;
}
