@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-navy: #212651;
  --color-orange: #ca4500;
  --color-blue: #7587a0;
  --color-yellow: #c8990a;
  --color-white: #e4e8dd;
}

:root {
  --white: #e4e8dd;
  --navy: #212651;
  --orange: #ca4500;
  --blue: #7587a0;
  --yellow: #c8990a;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --white: #0a0a0a;
    --navy: #e4e8dd; */
  }
}

body {
  background: var(--white);
  color: var(--navy);
  font-family: var(
    --font-racing-sans-one,
    "Racing Sans One",
    sans-serif
  ) !important;
  font-weight: 700;
}

.font-display {
  font-family: var(
    --font-racing-sans-one,
    "Racing Sans One",
    sans-serif
  ) !important;
}

.font-body {
  font-family: var(--font-overpass, "Overpass", sans-serif) !important;
}

/* generic */

h1,
h2,
h3,
h4,
h5 {
  font-family: var(
    --font-racing-sans-one,
    "Racing Sans One",
    sans-serif
  ) !important;
}

.btn {
  color: var(--navy);
}

.btn-primary {
  background-color: var(--navy);
  color: var(--white);
  outline: 0;
  border: 0;
  box-shadow: 0;

  &:hover {
    background-color: var(--orange);
  }
}

/* navigation */
.navbar {
  border-bottom: 6px double var(--blue) !important;
}

.hamburger {
  color: var(--navy);

  & path {
    stroke: var(--navy);
  }
}

/* components */

.card {
  background-color: #fff;
}

.card-body {
  flex: none !important;
}

.card-title {
  border-bottom: 6px double var(--yellow);
  display: flex;
  align-items: center;
  justify-content: space-between;

  & h2 {
    width: 60%;
  }

  & p {
    width: 40%;
  }
}

.form {
  input {
    background-color: var(--white);
  }
}
