@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-navy: #212651;
  --color-orange: #ca4500;
  --color-blue: #7587a0;
  --color-yellow: #c8990a;
  --color-white: #e4e8dd;
}

:root {
  --white: #e4e8dd;
  --navy: #212651;
  --orange: #ca4500;
  --blue: #7587a0;
  --yellow: #c8990a;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --white: #0a0a0a;
    --navy: #e4e8dd; */
  }
}

body {
  background: var(--white);
  color: var(--navy);
  font-family: var(
    --font-racing-sans-one,
    "Racing Sans One",
    sans-serif
  ) !important;
  font-weight: 700;
}

.font-display {
  font-family: var(
    --font-racing-sans-one,
    "Racing Sans One",
    sans-serif
  ) !important;
}

.font-body {
  font-family: var(--font-overpass, "Overpass", sans-serif) !important;
}

/* generic */

.linked-logo {
  /* border-radius: var(--radius-box); */
  transition: 0.3s all ease-in-out;
  overflow: hidden;

  & span {
    transition: 0.3s all ease-in-out;
    transform: translateX(0);
  }

  &:hover {
    color: var(--yellow) !important;

    & span {
      transform: translateX(-20px);
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(
    --font-racing-sans-one,
    "Racing Sans One",
    sans-serif
  ) !important;
  color: var(--navy);
}

& svg {
  transition: all ease-in-out 0.3s;
}

.btn {
  /* color: var(--navy); */
  padding: 5px 10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: var(--radius-box);
  text-transform: capitalize;
  font-style: italic;

  & svg {
    width: 24px;
  }
}

.btn.btn-primary {
  background-color: var(--navy);
  color: var(--white);
  outline: 0;
  border: 0;
  box-shadow: none;
  transition: all ease-in-out 0.3s;
  border: 6px double var(--navy);

  &:hover {
    background-color: var(--orange);
    border: 6px double var(--orange);
  }
}

.btn.btn-secondary {
  background-color: #fff;
  color: var(--navy);
  outline: 0;
  border: 0;
  box-shadow: none;
  transition: all ease-in-out 0.3s;
  border: 6px double #fff;

  &:hover {
    /* background-color: var(--yellow); */
    border-color: var(--yellow);

    & svg {
      fill: var(--navy);
    }
  }
}

/* navigation */
.navbar {
  border-bottom: 6px double var(--blue) !important;
}

.hamburger {
  color: var(--navy);

  & path {
    stroke: var(--navy);
  }
}

/* components */

.card {
  background-color: #fff;
  border: none;
}

.card-body {
  flex: none !important;
}

.card-title {
  border-bottom: 6px double var(--yellow);
  display: flex;
  align-items: center;
  justify-content: space-between;

  & h2 {
    width: 60%;
  }

  & p {
    width: 40%;
  }
}

.card-title.car-title {
  border-bottom: 0px;
}

.form {
  input {
    background-color: var(--white);
  }
}
